.header {
  height: 123px;
  // text-align: right;
  background-color: $color-header;
  background-image: url('./../../assets/images/bg_header.png');
  background-repeat: space;
  background-position: right;
  padding-left: 40px;
}
