<p-confirmDialog header="Confirmación" icon="pi pi-exclamation-triangle"></p-confirmDialog>
<p-messages></p-messages>
<div class="table">
  <p-table class="esri-widget__table" [columns]="cols" [value]="layers" styleClass="p-datatable-striped">
    <ng-template pTemplate="header" let-columns>
      <tr>
        <th *ngFor="let col of columns" class="{{col.field}}">
          {{col.header}}
        </th>
        <th class="actions"></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns">
      <tr (click)="navigateToViewer(rowData)">
        <td *ngFor="let col of columns">
          {{rowData[col.field]}}
        </td>
        <td>
          <i class="pi pi-eye" *ngIf="rowData.accessGranted === 1 || rowData.accessGranted === 2"></i>
          <i class="pi pi-lock" *ngIf="rowData.accessGranted === 3"></i>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
