<p-toast></p-toast>
<div class="table">
  <p-messages [(value)]="msgs" [enableService]="false"></p-messages>
  <div class="title">
    <h2>Lista de coberturas</h2>
  </div>
  <p-treeTable [value]="workspaces" dataKey="name" [paginator]="true" [rows]="10" [lazy]="true"
    (onLazyLoad)="getWorkSpaces($event)" [totalRecords]="totalRecords" [loading]="loading"
    (onNodeExpand)="onNodeExpand($event)">
    <ng-template pTemplate="header">
      <tr>
        <th>
          Nombre
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowNode let-rowData="rowData">
      <tr [ttRow]="rowNode" [ttRow]="rowNode" [ttSelectableRow]="rowNode">
        <td>
          <p-treeTableToggler [rowNode]="rowNode"></p-treeTableToggler>
          <i [attr.class]="rowData.icon"></i>
          <span (click)="navigateToViewer(rowData)">{{rowData.name}}</span>
        </td>
      </tr>
    </ng-template>
  </p-treeTable>
</div>

<a (click)="guide()" class="float">
  <i class="esri-icon-question my-float"></i>
</a>
