<app-header></app-header>

<div class="table">
  <p-table class="esri-widget__table" [columns]="cols" [value]="values" styleClass="p-datatable-striped">
    <ng-template pTemplate="header" let-columns>
      <tr>
        <th *ngFor="let col of columns" class="{{col.field}}">
          {{col.header}}
        </th>
        <th class="actions"></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns">
      <tr (click)="navigateToViewer(rowData)">
        <td *ngFor="let col of columns">
          {{rowData[col.field]}}
        </td>
        <td>
          Visor
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
