<div class="terms">
  <div>
    <h2>Plataforma Virtual SIG-SIR</h2>
    <h4>Términos y Condiciones</h4>
  </div>
  <div class="body">
    <table class="data-table esri-widget__table">
      <thead>
        <tr>
          <th colspan="2">
            <b>Datos Generales de la información entregada</b>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Formato</td>
          <td>Shape</td>
        </tr>
        <tr>
          <td>Origen de Coordenadas</td>
          <td>
            Proyección: Transverse_Mercator <br>
            False_Easting: 1000000,00000000 <br>
            False_Northing: 1000000,00000000 <br>
            Central_Meridian: -74,08091667 <br>
            Scale_Factor: 1,00000000 <br>
            Latitude_Of_Origin: 4,59904722 <br>
            Unidad Lineal: Meter <br>
          </td>
        </tr>
        <tr>
          <td>Proyección</td>
          <td>Colombia_Bogota_Zone</td>
        </tr>
        <tr>
          <td>Sistema de Coordenadas</td>
          <td>Planas</td>
        </tr>
        <tr>
          <td>EPSG</td>
          <td>21897</td>
        </tr>
      </tbody>
    </table>
    <p>
      El usuario solicitante reconoce que la información a que tenga acceso es de propiedad exclusiva de la
      Corporación Autónoma Regional de Caldas – CORPOCALDAS de conformidad con la ley 23 de 1982, la
      Decisión Andina 351 de 1993 régimen común sobre derechos de autor y derechos conexos, la ley 44 de
      1993 y demás normas relacionadas con los derechos de autor. Por lo anterior al usuario no le asiste ningún
      derecho de propiedad intelectual, pudiéndolos utilizar únicamente para el desarrollo de la presente solicitud,
      sin que se entiendan cedidos o licenciados a ningún título. De igual forma el usuario deberá respetar los
      derechos de autor, para lo cual deberá realizar las citas correspondientes.
    </p>
  </div>
  <div class="buttons">
    <button pButton type="button" icon="pi pi-times" label="No Acepto" class="p-button-warning p-button-sm"
      (click)="close(false)"></button>
    <button pButton type="button" icon="pi pi-check" label="Acepto" class="p-button-success p-button-sm"
      (click)="close(true)"></button>
  </div>
</div>
