<p-toast></p-toast>

<h2>Registro de Descargas</h2>
<div class="table">
  <p-table class="esri-widget__table" [lazy]="true" (onLazyLoad)="getFilterAccessRequest($event, valueAccess)" [paginator]="true"
    [rows]="10" [rowsPerPageOptions]="[10,25,50]" [totalRecords]="numberOfRows" [loading]="loading"
    [globalFilterFields]="['name', 'email', 'layerName']" [value]="accessRequests" [showCurrentPageReport]="true"
    currentPageReportTemplate="{first} - {last} de {totalRecords} Capas" styleClass="p-datatable-sm">
    <ng-template pTemplate="header" let-columns>
      <tr>
        <th>
          Nombre
        </th>
        <th>
          Correo Electrónico
        </th>
        <th>
          Capa
        </th>
        <th>
          Tipo de Capa
        </th>
      </tr>
      <tr>
        <th>
          <p-columnFilter type="text" field="name"></p-columnFilter>
        </th>
        <th>
          <p-columnFilter type="text" field="email"></p-columnFilter>
        </th>
        <th>
          <p-columnFilter type="text" field="layerName"></p-columnFilter>
        </th>
        <th>
          <p-columnFilter field="visible" [showMenu]="false">
            <ng-template pTemplate="filter" let-value let-filter="filterCallback">
              <p-dropdown [ngModel]="value" [options]="optionsFilter" (onChange)="getFilterAccessRequest(eventPage, $event.value)"
                optionLabel="name" optionValue="code" [showClear]="true">
              </p-dropdown>
            </ng-template>
          </p-columnFilter>
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-access>
      <tr (click)="openDialog(access)">
        <td>
          {{access.name}}
        </td>
        <td>
          {{access.email}}
        </td>
        <td>
          {{access.nameLayer}}
        </td>
        <td>
          {{access.sensibility}}
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>


<p-dialog *ngIf="display" header="Solicitud #0001" [(visible)]="display" modal="true">
  <h3>Solicitante:</h3>
  <p>{{valueDialog.name}}</p>

  <h3>Entidad a la que pertenece:</h3>
  <p>{{valueDialog.entity}}</p>

  <h3>Capa que solicita:</h3>
  <p>{{valueDialog.layer}}</p>

  <h3>Razón:</h3>
  <p>{{valueDialog.observation}}</p>

  <div class="flex">
    <button pButton type="button" label="Rechazar" icon="pi pi-times" class="p-button-raised p-button-warning"
      (click)="reject()"></button>
    <button pButton type="button" label="Aceptar" icon="pi pi-check" class="p-button-raised p-button-success"
      (click)="accept()"></button>
  </div>
</p-dialog>
