.actions {
  width: 150px !important;
  text-align: center;
}

.table {
  margin: 20px;
}

th {
  text-align: center !important;
}

td {
  cursor: pointer;
}

tr:hover {
  background-color: #eaedf0 !important;
}

::ng-deep .p-column-filter-menu-button {
  display: none !important;
}

::ng-deep .p-datatable .p-datatable-tbody > tr > td,
::ng-deep .p-datatable .p-datatable-thead > tr > th {
  border-width: 1px;
  padding: 5px !important;
}

::ng-deep .p-dialog {
  width: 800px;
}

.flex {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
}

.flex button {
  width: 30%;
}

