<p-confirmDialog header="Confirmación" icon="pi pi-exclamation-triangle"></p-confirmDialog>
<p-toast></p-toast>

<div class="title">
  <h2>Capas</h2>
</div>

<div class="content">

  <div class="create">
    <button pButton pRipple type="button" label="Nueva capa" icon="pi pi-plus"
      class="p-button-raised p-button-success p-button-sm" (click)="createLayer()"></button>
  </div>

  <p-table #dt class="esri-widget__table" [value]="layers" [lazy]="true" (onLazyLoad)="getLayers($event, valueAccess, valueVisible)"
    [paginator]="true" [rows]="10" [rowsPerPageOptions]="[10,25,50]" [totalRecords]="numberOfRows" [loading]="loading"
    [globalFilterFields]="['name', 'accessGranted', 'visible']" styleClass="p-datatable-sm" [paginator]="true" [rows]="10"
    [showCurrentPageReport]="true" currentPageReportTemplate="{first} - {last} de {totalRecords} Capas">
    <ng-template pTemplate="caption">
      <div class="p-d-flex">
        <button type="button" pButton pRipple icon="pi pi-file-excel" (click)="exportExcel(eventPage, valueAccess, valueVisible)"
          class="p-button-success p-mr-2" pTooltip="XLS" tooltipPosition="bottom"></button>
        <button type="button" pButton pRipple icon="pi pi-file-pdf" (click)="exportPdf(eventPage, valueAccess, valueVisible)"
          class="p-button-warning p-mr-2" pTooltip="PDF" tooltipPosition="bottom"></button>
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th pSortableColumn="name">
          Nombre de la Capa <p-sortIcon field="name"></p-sortIcon>
        </th>
        <th pSortableColumn="url">
          Espacio de trabajo <p-sortIcon field="workspace"></p-sortIcon>
        </th>
        <th pSortableColumn="accessGranted">
          Nivel de sensibilidad <p-sortIcon field="accessGranted"></p-sortIcon>
        </th>
        <th pSortableColumn="visible">
          Visibilidad <p-sortIcon field="visible"></p-sortIcon>
        </th>
        <th class="actions"></th>
      </tr>
      <tr>
        <th>
          <p-columnFilter type="text" field="name" [showMenu]="false"></p-columnFilter>
        </th>
        <th></th>
        <th>
          <p-columnFilter field="accessGranted" [showMenu]="false">
            <ng-template pTemplate="filter" let-value let-filter="filterCallback">
              <p-dropdown [ngModel]="value" [options]="optionsFilter" (onChange)="getLayers(eventPage, $event.value, valueVisible)"
                optionLabel="name" optionValue="code" [showClear]="true">
              </p-dropdown>
            </ng-template>
          </p-columnFilter>
        </th>
        <th>
          <p-columnFilter field="visible" [showMenu]="false">
            <ng-template pTemplate="filter" let-value let-filter="filterCallback">
              <p-dropdown [ngModel]="value" [options]="optionsVisibleFilter" (onChange)="getLayers(eventPage, valueAccess, $event.value)"
                optionLabel="name" optionValue="value" [showClear]="true">
              </p-dropdown>
            </ng-template>
          </p-columnFilter>
        </th>
        <th></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-layer>
      <tr>
        <td>
          {{layer.name}}
        </td>
        <td>
          {{layer.nameWorkspace}}
        </td>
        <td>
          {{layer.accessType}}
        </td>
        <td>
          {{layer.visibility}}
        </td>
        <td class="actions">
          <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-info"
            (click)="editLayer(layer)"></button> &nbsp;
          <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning"
            (click)="deleteLayer(layer)"></button>
        </td>
      </tr>
    </ng-template>

    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="4" class="emptymessage">
          <b>No se encontraron capas</b>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>