<p-confirmDialog header="Confirmación" icon="pi pi-exclamation-triangle"></p-confirmDialog>
<p-toast></p-toast>

<h2>Espacios de trabajo</h2>


<button pButton label="Nuevo espacio" class="p-button-success  p-button-sm" icon="pi pi-plus"
  (click)="addWorkspace()"></button>
<br>
<div class="workspace-table">
  <p-treeTable [value]="workspaces" [paginator]="true" [rows]="10" [lazy]="true" (onLazyLoad)="getWorkSpaces($event)"
    [totalRecords]="totalRecords" [loading]="loading" (onNodeExpand)="onNodeExpand($event)">
    <ng-template pTemplate="header">
      <tr>
        <th>
          Nombre
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowNode let-rowData="rowData">
      <tr>
        <td>
          <p-treeTableToggler [rowNode]="rowNode"></p-treeTableToggler>
          <span (click)="editWorkspace(rowData)">{{rowData.name}}</span>
        </td>
      </tr>
    </ng-template>
  </p-treeTable>
</div>
