@import "src/styles/lib/variables";

.container {
  width: calc(100vw - 20px);
  height: calc(100vh - 160px);
  margin: 10px;
  // border: 1px solid #555;

  .mat-drawer,
  .mat-drawer-content {
    padding: 5px;
  }

  .mat-drawer {
    min-width: 250px;
    width: 15vw;
    z-index: 0;
  }

  .mat-drawer-content {
    min-width: 500px;
    overflow: auto;
  }
}

::ng-deep .p-panelmenu .p-panelmenu-header > a:focus,
::ng-deep .p-panelmenu .p-panelmenu-content .p-menuitem .p-menuitem-link:focus {
  box-shadow: none;
}

::ng-deep .p-card {
  border: 1px solid #dee2e6;
  box-shadow: none;
  height: 100%;
}

.float {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  cursor: pointer;
  position: fixed;
  width: 90px;
  height: 45px;
  bottom: 55px;
  right: 40px;
  background-color: $color-green;
  color: #fff;
  border-radius: 50px;
  text-align: center;
  box-shadow: 2px 2px 3px #999;
  z-index: 1;

  .my-float {
    font-size: 16px;
    margin-right: 5px;
  }
}

.esri-icon-question:before {
  font-size: x-large;
}
