<p-messages></p-messages>
<form [formGroup]="workspaceFormGroup" (ngSubmit)="workspaceFormGroup.valid && saveWorkSpace()">
    <br>
    <div class="p-grid p-fluid">
        <div class="p-field p-col-12 p-md-12">
            <div class="p-inputgroup">
                <span class="p-float-label">
                    <input type="text" id="name" autofocus formControlName="name" [(ngModel)]="workspace.name"
                        pInputText>
                    <label for="name">Nombre del espacio de trabajo</label>
                </span>
                <span class="p-inputgroup-addon"><i class="pi pi-images"></i></span>
            </div>
            <div class="error"
                *ngIf="workspaceFormGroup.controls.name.touched && workspaceFormGroup.controls.name.dirty && workspaceFormGroup.controls.name.invalid">
                <span class="pi pi-times"></span>
                <span *ngIf="workspaceFormGroup.controls.name.errors.required">
                    El nombre del espacio de trabajo es requerido
                </span>
            </div>
        </div>
    </div>
    <br>
    <label for="parent">Seleccione el nodo padre del espacio de trabajo:</label>
    <div id="parent" style="max-height: 300px; overflow-y: scroll;">
        <app-select-workspace [workspaceSelected]="workspace.parent.id" [workspaceId]="workspace.id"
            (selectWorkspaceEvent)="selectParentWorkspace($event)"></app-select-workspace>
    </div>
    <div class="footer">
        <button pButton class="p-button-rounded p-button-success" [disabled]="!workspaceFormGroup.valid ||  error"
            icon="pi pi-check" [label]="label"></button>
    </div>
    <div class="footer">
        <button pButton type="button" (click)="cancel()" class="p-button-rounded" icon="pi pi-times"
            label="Cancelar"></button>
    </div>
</form>